.container {
  margin-top: 60px;
}

/*img {
  width: 20px;
}*/

.navbar {
  background: #131415;
}

/*.search-box {
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  background: transparent;
}*/